* {
  margin: 0px;
  padding: 0px;
  font-family: SF Pro Text;
}
header {
  width: 100vw;
  height: 44px;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

#navlist {
  display: flex;
  width: 996px;
  height: 44px;
  padding-right: 0px;
  justify-content: space-between;
  align-items: center;
  gap: 24.75px;
  flex-shrink: 0;
}

#navlist > li {
  list-style: none;
}
#navlist > li > a {
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
  font-size: x-small;
}
#applelogo {
  padding-top: 10px;
}
#head2 {
  /*padding-top: 44px;
  width: 100vw;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;*/
  display: flex;
  width: 100vw;
  height: 129px;
  padding: 3px 0px 49px 0px;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  flex-shrink: 0;
}
#head2list {
  display: flex;
  height: 129px;
  padding-top: 5px;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  flex-shrink: 0;
}
#head2list > li {
  list-style: none;
}
#head2list > li > a {
  text-decoration: none;
  color: #ec3d43;
  font-size: x-small;
}
#hero {
  height: 1000px;
  display: contents;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#page1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.textbox {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  gap: 25px;
}
#p1 {
  color: #6e6e73;
  text-align: center;
  font-family: SF Pro Text;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px; /* 147.059% */
  letter-spacing: -0.374px;
}
#p3 {
  text-align: center;
  font-family: SF Pro Display;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 52.008px; /* 108.349% */
  letter-spacing: -0.144px;
  background: linear-gradient(
    90deg,
    #2ca2b4 0%,
    #5598de 24%,
    #7f87ff 45%,
    #f65aad 76%,
    #ec3d43 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#p2 {
  color: #1d1d1f;
  text-align: center;
  font-family: SF Pro Display;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 29.001px; /* 138.1% */
  letter-spacing: 0.231px;
}
#p4 {
  color: #1d1d1f;
  text-align: center;
  font-family: SF Pro Display;
  font-size: 21px;
  font-style: normal;
  font-weight: 400;
  line-height: 29.001px; /* 138.1% */
  letter-spacing: 0.231px;
}
.btn {
  display: flex;
  width: 470.781px;
  padding: 0px 132.438px;
  justify-content: center;
  align-items: center;
  gap: 28px;
  list-style: none;
}
.btn >  li > button {
  display: flex;
  width: 61.203px;
  height: 36px;
  padding: 8px 15.6px 8px 16px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 980px;
  background: #0071e3;

  color: #fff;
  text-align: center;
  font-family: SF Pro Text;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.374px;
}
.btn >  li > button:hover {
  background: aqua;
}
.btn >  li > a {
  text-decoration: none;
  color: #06c;
  text-align: center;
  font-family: SF Pro Display;
  font-size: 21px;
  font-style: normal;
  font-weight: 400;
  line-height: 29.001px;
  letter-spacing: 0.231px;
}
#imagebox1 {
  border: #fff;
  width: 788px;
  height: 717px;
  flex-shrink: 0;
  background: url(<path-to-image>), lightgray 50% / contain no-repeat;
}
#page2 {
  padding-top: 20px;
  display: flex;
  background-color: rgba(0, 0, 0, 1);
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#p5 {
  color: #86868b;
  text-align: center;
  font-family: SF Pro Text;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: -0.374px;
}
#p7 {
  display: flex;
  width: 266.666px;
  height: 58px;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-family: SF Pro Display;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 52.008px; /* 108.349% */
  letter-spacing: -0.144px;
  background: linear-gradient(180deg, #ffb6ff 0%, #b344ff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#p6 {
  color: white;
  text-align: center;
  font-family: SF Pro Display;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 29.001px;
  letter-spacing: 0.231px;
}
#p8 {
  color: #f5f5f7;
  text-align: center;
  font-family: SF Pro Display;
  font-size: 21px;
  font-style: normal;
  font-weight: 400;
  line-height: 29.001px;
  letter-spacing: 0.231px;
}

#imagebox2 {
  margin-top: 5%;
  width: 575px;
  height: 399px;
  flex-shrink: 0;
  background: url(<path-to-image>), lightgray 50% / contain no-repeat;
}
#page3 {
  display: flex;
  margin: 1%;
  align-items: center;
  justify-content: center;
}
#p9 {
  display: flex;
  width: 338.766px;
  height: 110px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  text-align: center;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 52.008px; /* 108.349% */
  letter-spacing: -0.144px;
  background: linear-gradient(
    90deg,
    #1e3791 0%,
    #2948b1 40%,
    #3153c6 55%,
    #385fda 60%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#p10 {
  display: flex;
  width: 468.347px;
  height: 25px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: #1d1d1f;
  text-align: center;
  font-family: SF Pro Display;
  font-size: 21px;
  font-style: normal;
  font-weight: 400;
  line-height: 29.001px;
  letter-spacing: 0.231px;
}
#page4{
  display: flex;
  height: 800px;
  background-image:url(Images/background.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0% 3% 0% 3%;
  color: white;
  display: flex;
  align-items: center;
}
.tour {
  padding-left: 15%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.tour-text {
  color: #FFF;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  
  letter-spacing: 0.216px;
}


.tour h1 {
  color: #FFF;
  font-size: 3rem;
  font-style: normal;
  font-weight: 700;

}

.watch-the-film-btn {
  display: flex;
  width: 142.234px;
  height: 36px;
  padding: 8px 15.6px 8px 16px;
  justify-content: center;
  align-items: center;

  border-radius: 980px;
  background: #FFF;

  color: #000;
  text-align: center;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  /* 117.648% */
  letter-spacing: -0.374px;

  border: none;
}

.watch-the-film-btn:hover {
  cursor: pointer;
}

#comparisiontable {
  color: #1D1D1F;
  text-align: center;
  font-size: 0.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  /* 142.859% */
  letter-spacing: -0.224px;
}

#comparisiontable h2 {
  color: #1D1D1F;
  text-align: center;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 52.008px;
  /* 108.349% */
  letter-spacing: -0.144px;

  padding-top: 4rem;
  padding-bottom: 4rem;
}
#table{
  width: 65%;
    margin: 0 auto;
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(4, 1fr);
}
